body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #0C1713;
    color: #FDA;
    box-sizing: border-box;
}
#header-style {
    margin:150px;
    text-align: center;
    border: 1mm dashed #FDA;
}
#div-top-1{
    text-align: center;
    margin-bottom: 100px;
    
}
#div-top-2-4 {
    text-align: center;
    margin-bottom: 100px;
}
#div-top-5-10{
    text-align: center;
    margin-bottom:30px;
}
#img-top-1 {
    height: 300px;
    width: 300px;
    box-shadow: 10px 10px #FDA;
}
img.top-2-4{
    height:250px;
    width: 250px;
    box-shadow: 10px 10px #FDA;
}
img.top-5-10{
    height:230px;
    width: 230px;
    box-shadow: 10px 10px #FDA;

}
.div-alinhar {
    width: 25%;
    height: 100px;
    display: inline-block;
    margin-bottom: 230px;
}